:root {
  --pry-clr: #1D3557;
  --sec-clr1: #E29578;
  --sec-clr2: #E5E5E5;
  --sec-clr3: #EDF6F9;
}

html, body {
  background-color: #f7f7f7;
  font-family: 'Mulish', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.pry-text {
  color: var(--pry-clr);
}

.sec-text {
  color: var(--sec-clr1);
}

.sec-bg {
  background-color: var(--sec-clr1);
  color: var(--pry-clr);
}

.pry-bg {
  background-color: var(--pry-clr);
  color: var(--sec-clr1);
}

.alt-text {
  color: var(--sec-clr2);
}

nav {
  padding: 10px 0;
}

nav .nav-item {
  margin: 0 10px;
}

nav .active {
  width: fit-content;
  border-bottom: 2px solid var(--sec-clr1);
}

.navbar-brand, .nav-link {
  color: var(--sec-clr1) !important;
}

.brand-icon {
  height: 70px;
}

#header {
  position: relative;
  min-height: 150px;
  width: 100%;
}

#header-action {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: capitalize;
  font-size: 18px;
}

#servicesSection p {
  text-align: justify;
  margin-top: 30px;
  width: 85%;
}

#servicesSection .row {
  padding: 50px;
}

#servicesSection .card {
  background-color: transparent;
  box-shadow: none;
}

.imgContainer {
  width: 500px !important;
  height: 250px !important;
}

.service-image {
  width: 100%;
  height: 100%;
}

.service-card img {
  width: 500px;
  height: 250px;
}

.services .col {
  margin-bottom: 30px;
}

.services .card {
  max-width: 90vw;
  width: 500px;
  margin: 0 auto;
  background: var(--sec-clr1);
  color: var(--pry-clr);
  border-radius: 20px;
  text-align: left;
  padding: 30px;
}

.services .card {
  margin-top: 10px;
}

.top-service {
  margin-bottom: 30px;
}

.top-service .card {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 30px;
  border-radius: 20px;
  background: var(--sec-clr1);
  color: var(--pry-clr);
}

#why-us {
  background-image: url(../images/bg-2.png);
  background-size: 100% 100%;
  height: max-content;
  margin-top: 50px;
  padding-top: 50px;
  color: var(--pry-clr);
}

#why-us-list {
  text-align: left;
  margin-top: 50px;
}

#why-us-list .card {
  background: transparent;
  box-shadow: none;
}

#why-us .number {
  grid-area: headercontent;
}

#why-us .textcontent {
  grid-area: textcontent;
}

#why-us-list .card-body {
  display: grid;
  grid-template-areas: 'headercontent textcontent textcontent textcontent textcontent textcontent' 'headercontent textcontent textcontent textcontent textcontent textcontent';
  grid-gap: 10px;
  padding: 30px;
}

#why-us-list .card-title>span {
  background: var(--sec-clr1);
  color: var(--pry-clr);
  padding: 8px 12px;
}

#why-us-list h5 {
  font-weight: bold;
}

#feedback {
  background-color: var(--pry-clr);
  padding: 50px 0;
  text-align: center;
  height: max-content;
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

#feedback h5 {
  font-weight: bold;
}

#feedback .quote {
  margin-top: 10px;
  color: #4d4d4d;
}

#feedback .slide img {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

#feedback .img {
  grid-area: left;
}

#feedback .content {
  grid-area: content;
}

#feedback .card {
  box-shadow: none;
  background-color: var(--sec-clr3);
  border-radius: 20px;
  width: 500px;
  text-align: left;
  display: grid;
  grid-template-areas: 'left content content content content content' 'left content content content content content';
  grid-gap: 10px;
  padding: 30px;
}

.client {
  margin: 0 20px;
}

#gallery {
  padding: 50px 0 60px;
  background-color: var(--sec-clr3);
}

#gallery img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

#gallery img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#images-section {
  display: flex;
  overflow-y: scroll;
}

#location {
  padding-top: 50px;
  text-align: center;
}

.mapouter {
  margin: 0 auto;
  margin-top: 50px;
}

footer {
  padding-top: 50px;
}

@media (max-width: 1040px) {
  .services .card {
    width: 30vw;
  }
  #feedback .slide * {
    max-width: 90vw;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  #feedback .client {
    margin-top: 10px;
  }
  .imgContainer {
    width: initial !important;
  }

  .service-card img {
    width: 100%;
  }

}

@media (max-width: 760px) {
  .services .card {
    width: initial;
  }

  #servicesSection p {
    width: initial;
  }

  #servicesSection h5 {
    margin-top: 30px;
  }

  .imgContainer {
    width: 90;
  }   
}

@media (max-width: 500px) {
  .service-image {
    height: 80%;
  }
  .service-card img {
    height: 70%;
  }
  #servicesSection h5 {
    margin-top: 15px;
  }
  #servicesSection p {
    text-align: left;
  }
}